.secao__introducao {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: #6A2B49;
    padding-bottom: 3%;
    border-bottom-left-radius: 45% 10%;
    border-bottom-right-radius: 45% 10%;
}

.introducao__titulo {
    font-size: 2.3rem;
    font-weight: 700;
    color: #FFFFFF;
}

.introducao__subtitulo {
    color: #FFFFFFCC;
    font-size: 1.3rem;
    font-weight: 500;
    margin: 5px;
}

.introducao__container__imagem__textos {
    display: flex;
    width: 85%;
    justify-content: space-between;
    padding: 1rem 0;
}

.introducao__imagem {
    width: 40%;
    border-radius: 1.5rem;
}

.container__textos__botao {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
}

.componente__botao{
    align-self: center;
}

.introducao__textos {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 1.4rem;
    color: #FFFFFF;
    font-weight: 500;
    margin: 8px;
}

.icone__check {
    min-width: 3%;
    max-width: 3%;
    height: 100%;
    color: #E183AF;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .secao__introducao {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    .introducao__titulo {
        text-align: center;
        font-size: 2.2rem;
    }

    .introducao__subtitulo {
        text-align: center;
        font-size: 1.2rem;
    }

    .introducao__container__imagem__textos {
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }

    .container__textos__botao {
        width: 70%;
    }

    .introducao__imagem {
        width: 80%;
    }
}

/*Reponsividade mobile*/
@media only screen and (max-width: 767px) {
    .secao__introducao {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
    
    .introducao__titulo {
        text-align: center;
        font-size: 2rem;
    }

    .introducao__subtitulo {
        text-align: center;
        font-size: 1.15rem;
    }

    .introducao__container__imagem__textos {
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }

    .container__textos__botao {
        width: 90%;
    }

    .introducao__imagem {
        width: 80%;
    }
}